Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM WORKER WHERE joining_date BETWEEN '2014-02-01' AND '2014-02-28';

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT last_name, COUNT(last_name) AS count_of_hire_date FROM WORKER
GROUP BY last_name
HAVING COUNT(last_name) > 1;

Q-3. How to remove duplicate rows from Employees table.

SELECT last_name, COUNT(last_name) AS count_of_hire_date FROM WORKER
GROUP BY last_name
HAVING COUNT(last_name) = 1;